bookmarkbackups/*
!bookmarkbackups/index.php
archived/*
!archived/index.php
features/*
!features/index.php
fftmp/*
!fftmp/index.php
gm_scripts/*
!gm_scripts/index.php
gmp/WINNT_x86-msvc/*
!gmp/WINNT_x86-msvc/index.php
minidumps/*
!minidumps/index.php
saved-telemetry-pings/*
!saved-telemetry-pings/index.php
sessionstore-backups/*
!saved-telemetry-pings/previous.js
storage/default/*
!storage/default/index.php
storage/default/*
!storage/temporary/index.php
weave/logs/*
!weave/logs/index.php